.Week {
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  height: 90%;
  display: grid;
  /* border-width: 2px;
  border: groove; */

}
.Weekdays {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* border-width: 2px;
  border: groove; */
}

.Weekday {
  display: grid;
  grid-template-rows: 1fr 20fr;
  text-align: center;
  align-items: center;
  border: 1px solid #3333;
}
.WeekdayHeader {
  height: 100%;
  background-color: lightskyblue;
}
.MemberContainer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.Member {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  border: 1px solid #3331;
  /* border-width: 2px;
  border: groove; */
}
.MemberHeader {
  display: grid;
  place-items: center;
  width: 15px;
  transform: rotate(-90deg);
}

.Weekend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border: groove;
}