body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: cyan;
  --secondary: magenta;
  --primary-alpha: rgba(0,255,255,0.5);
  --secondary-alpha: rgba(255,0,255,0.5);
}

.box {
  box-shadow: 0 0 15px #3333;
}