TENANT_UUID=<uuid>
DEV_DB_HOST=localhost
DEV_DB_USER=<user>
DEV_DB_PASSWORD=<pass>
DEV_DB_NAME=necto_dev
DEVREMOTE_DB_HOST=<remote host>
DEVREMOTE_DB_USER=<user>
DEVREMOTE_DB_PASSWORD=<pass>
DEVREMOTE_DB_NAME=necto_dev
NODE_ENV=<development | production>
AUTH0_CLIENT_ID=<auth0 client ID>
AUTH0_ISSUER_BASE_URL=<auth0 issuer base URL>
AUTH0_SECRET=<auth0 client secret>

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:5432/necto_dev?schema=public"