.Footer {
  width: 100%;
  background-color: white;
  color: #3338;
  /* text-shadow: 1px 1px 1px cyan, -1px -1px 1px magenta; */
  /* text-transform: uppercase; */
  padding: 10px;
  text-align: right;
  box-shadow: 0 0 15px #3333;
}
