.time_table_wrapper {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary);
  overflow: hidden;
}

.day {
  position: relative;
  height: 100%;
  float: left;
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 50%, transparent 50%);
}

.day_title {
  background-color: #34495e;
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.hour {
  color: rgba(52, 73, 94, 0.9);
  font-size: 12px;
  text-align: center;
  width: 5rem;
}

.event {
  position: absolute;
  width: 98%;
  margin-left: 1%;
  min-height: 2rem;
  /* height: 15vh; */
  /* line-height: 15vh; */
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
  font-weight: 300;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0 0.2rem 0 0.2rem;
  /* border-radius: 0.5rem; */
  border-top: 2px solid;
  box-shadow: 0.2rem 0.2rem 2px #3333;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.event_info {
  color: var(--secondary);
  font-size: 1.2em;
  line-height: initial;
  text-align: center;
}
.event_container {
  display: grid;
  grid-template-columns: 1fr auto;
}
.icon_container {
  margin: 0;
  padding: 2px;
  font-size: 1em;
  text-shadow: 0 0 5px #3333;
  color: #3338;
}

.bg_grey {
  border-color: var(--bgGreyBorder);
  background-color: var(--bgGrey);
}

.bg_green {
  border-color: var(--bgGreenBorder);
  background-color: var(--bgGreen);
}

.bg_red {
  border-color: var(--bgRedBorder);
  background-color: var(--bgRed);
}

.bg_yellow {
  border-color: var(--bgYellowBorder);
  background-color: var(--bgYellow);
}

.bg_blue {
  border-color: var(--bgBlueBorder);
  background-color: var(--bgBlue);
}

.bg_purple {
  border-color: var(--bgPurpleBorder);
  background-color: var(--bgPurple);
}

.bg_mint {
  border-color: var(--bgMintBorder);
  background-color: var(--bgMint);
}
.event:hover,
.event:focus {
  border-top-width: 3px;
  /* transform: scale(1.02); */
  /* background-color: white; */
  box-shadow: 0.1rem 0.1rem 5px #3333;
  cursor: pointer;
}
