
.time_table_wrapper {
  display:flex;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary);
  overflow: hidden;
}

.day {
  position: relative;
  height: 100%;
  float: left;
  background-color: #fff;
  background-image: linear-gradient(rgba(0,0,0,.08) 50%, transparent 50%);
}

.day_title {
  background-color: #34495e;
  font-size: .7rem;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;}

.hour {
  color: rgba(52, 73, 94,0.9);
  font-size: 12px;
  text-align: center;
  width: 5rem;
}

.event {
  position: absolute;
  width: 98%;
  margin-left: 1%;
  height: 15vh;
  line-height: 15vh;
  background-color: rgba(255,255,255,0.5);
  font-size: .7em;
  font-weight: 300;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;
  border-top: 1px solid;
  box-shadow: 0 0 3px #3333;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.event:hover, .event:focus {
  border-color: inherit;
  border-top: 2px solid;
  /* border-color: rgba(64,169,255,1); */
  box-shadow: 0 0 15px #3333;
  cursor: pointer;
}
.event_info {
  color: var(--secondary);
  font-size: 1.2em;
  line-height: initial;
  text-align: center;
}

.bg_grey {
  /* background-color: rgb(47,79,79,0.2); */
  border-color: rgb(47,79,79,0.3);
}
.bg_grey > span {
  color: rgb(47,79,79,1);
}

.bg_green {
  /* background-color: rgba(0,128,0,0.2); */
  border-color: rgba(0,128,0.3);
}

.bg_green > span {
  color: rgba(0, 128, 0, 1);
}

.bg_red {
  /* background-color: rgba(255,0,0,0.2); */
  border-color: rgba(255,0,0,0.3);
}

.bg_red > span {
  color: rgba(255,0,0,1);
}

.bg_yellow {
  /* background-color: rgba(200,200,0,0.2); */
  border-color: rgba(200,200,0,0.3);
}
.bg_yellow > span{
  color: rgb(128, 128, 0);
}

.bg_blue {

  /* background-color: rgba(0, 128, 255,0.2); */
  border-color: rgba(0, 128, 255,0.3);
}

.bg_blue > span {
  color: rgba(0, 128, 255,1);
}