.Header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.Headline {
  text-shadow: 2px 1px cyan, -1px -2px magenta;
  margin: 10px;
}