.CalendarDay {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.5fr 1.5fr repeat(10, 1fr);
  border: 1px solid #3331;
  /* border-width: 2px;
  border: groove; */
}

.CalendarDayHeader {
  height: 100%;
  box-shadow: 0 0 15px #3333;
  text-shadow: 1px 1px cyan, -1px -1px magenta;
}